/*For all html files */
/* navigation bar */
nav{
   position: absolute;
}
nav ul {
   list-style-type: none;
   display: flex;
   padding: 0;
   width: 100vw;
   background-color: #5b4fd8;
   margin: 0;
   position: fixed;
   top: 0;
   left: 0;
   text-decoration: none;
   height: 10vh;
   justify-content: right;
   align-items: center;
   overflow: hidden;
}
nav li {
   padding: 1000px clamp(2vw, 3vw, 5vw);
   position: relative;
   right: 20px;
}
nav a {
   text-decoration: none;
   color: white;
   font-size: 18px;

   
}
nav li:hover {
   background-color: #9891fb;

}
.logo {
   height: 80%;
   width: auto;
   margin-right: auto;
   margin-left: 25px;
   padding-right: 20px;


   
}
/* navigation bar end */
/* Start of Body */
Body {
   position: absolute;
   top: 10%;
   padding-left: 10%;
}

/*End*/

/*For Index.html */
/*End*/

/*For About.html */

/*End*/

/*For Pathway.html */

/*End*/

/*For Mentorship.html */
.Mentorship .padding {
   padding-top: 100px;
}

/*End*/

/*For Resources.html */

/*End*/