/*For all html files */
body {
   background-color: #ffffff;
   margin: 0;
   padding: 0;
   color: black;   
   overflow-x: hidden;
}
.input-field {
   width: 100%;
   height: max(20px, 3vh);
   background-color: #dc2020;
   color: #f6f6f6;
   font-size: 3vh;
   text-align: center;
}
.input-field:focus {
   outline: none;
}
.navbar ul {
   width: 100%;
   color: #ffffff;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   overflow: hidden;
   justify-content: center;
   background-color: #312898;
   width: 100vw;
}
.navbar a {
   color: #ffffff;
   text-decoration: none;
   font-size: 3vh;
   display: block;
   padding: 10px 20px;
   text-align: center;
   font-size: auto;
}
.navbar a:hover {
   background-color: #947bc2;
}
.title {
   padding-left: 20px;
}
/*End*/


/*For Index.html */

/*End*/

/*For About.html */

/*End*/

/*For Pathway.html */

/*End*/

/*For Mentorship.html */
.mentorship-page .mform {
   justify-content: center;
   display: flex;
   width: 1000px;
   border: 2px solid black;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
/*End*/

/*For Resources.html */

/*End*/